<template>
    <h1>Boka släpet genom att välja önskad tid</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Datum</th>
                <th>06-09</th>
                <th>09-12</th>
                <th>12-15</th>
                <th>15-18</th>
                <th>18-06</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="day of slots">
                <td>
                   ${day[0].Date}
                </td>
                <td repeat.for="slot of day">
                    <button type="radio" class="btn btn-default" aria-label="Left Align" click.delegate="add(slot)">
                        <span if.bind="slot.IsAvaliable" class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        <span if.bind="!slot.IsAvaliable" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <button click.delegate="getAll()">get all bookings</button>


    <ul>
        <li repeat.for="booking of all">${getJson(booking)}</li>
    </ul>


</template>